core/src/test/resources/xsdtest/sub.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tmall.com/pokemon/bulbasaur/schema/node">
	<xs:element name="node">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="sub-node">
					<xs:complexType>
						<xs:attribute name="s" type="xs:string" />
					</xs:complexType>
				</xs:element>
				<xs:element name="text-node">
					<xs:complexType>
						<xs:attribute name="s" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="a" type="xs:int" />
		</xs:complexType>
	</xs:element>
</xs:schema>